body{
    background-color: #eeeeee;
    font-family: 'Assistant', sans-serif;
    overflow-x: hidden;
}
.bg-blue{
    background: #071c4d;
}
.nav-item{
    .text-nav{
        color: #101310 !important;
        font-weight: bold;
    }
    .active{
        color: #0f2f7a !important;
        font-weight: bold;
    }
}
.dropdown-toggle::after{
    display: none !important;
}
.nav-form{
    color: #ffffff;
}
.dropdowns-menu{
    position: absolute;
    top: 67px; right: 0;
    width: 250px;
    display: none;
    height: 40vh;
    z-index: 9999;
    li{
        background-color: #ffffff;
        color: #000000;
        font-size: 18px;
        list-style: none;
        a{
            border-bottom: 1px solid #d8cfcf;
            padding-bottom: 10px;
            text-align: center;
            &:hover{
                background-color: #d8cfcf;
            }
        }
    }
}
header{
    width: 100%;
    padding: 10px;
    img{
        height: 70vh;

    }
    .carousel-wrapper {
        width: 100%;
        margin: auto;
        position: relative;
        text-align: center;
        font-family: sans-serif;
      }

      .owl-carousel .owl-nav {
        overflow: hidden;
        height: 0px;
        opacity: 0;
      }

      .owl-theme .owl-dots .owl-dot.active span,
      .owl-theme .owl-dots .owl-dot:hover span {
        background: #5110e9;
      }


      .owl-carousel .item {
        text-align: center;
      }

      .owl-carousel .nav-button {
        height: 50px;
        width: 25px;
        cursor: pointer;
        position: absolute;
        top: 45% !important;
      }

      .owl-carousel .owl-prev.disabled,
      .owl-carousel .owl-next.disabled {
        pointer-events: none;
        opacity: 0.25;
      }

      .owl-carousel .owl-prev {
        left: 0px;
      }

      .owl-carousel .owl-next {
        right: 0px;
      }

      .owl-theme .owl-nav [class*=owl-] {
        color: #ffffff;
        font-size: 39px;
        background: #000000;
        border-radius: 3px;
        line-height: 30px;
      }

      .owl-carousel .prev-carousel:hover {
        background-position: 0px -53px;
      }

      .owl-carousel .next-carousel:hover {
        background-position: -24px -53px;
      }
      &:hover{
        .owl-carousel .owl-nav {
            opacity: 10;
          }
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
        color: #ffffff;
    }
}
.whatsup{
    padding: 20px;
    font-size: 50px;
    display: none;
    a{
        text-decoration: none;
        color: #09a02a;
    }
}
.section-service{
    .card .card-judul{
        font-family: 'Playfair Display', serif;
        h2{
            font-weight: bold;
            font-size: 30px;
        }
    }
    .card-body{
        position: relative;
        padding: 0px !important;
        img{
            width: 100% !important;
        }
    }
}
// work
.section-header-work{
    min-height: 310px;
    background: #e0e4ec;
    margin-top: -90px;
}
.section-work{
    margin-top: -210px;
    min-height: 70vh;
    .breadcrumb{
        background: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item{
        &.active{
            font-weight: bold;
            color: #0f2f7a;
        }
    }
    .card-images{
        margin-top: -250px;
        background-color: #f7f5f5e8;
        text-align: center;
        img{
            width: 60%;
        }
    }
    .card{
        min-height: 65vh;
        .recive{
            background-color: lightgreen;
            border-radius: 1rem;
            padding: 10px 15px;
            display: inline-block;
        }
        .time{
            font-size: 10px;
            color: #9ca1a3;
            margin-top: 5%;
            margin-left: 1%;
        }
        .sent{
            background-color: whitesmoke;
            border-radius: 1rem;
            padding: 10px 15px;
            display: inline-block;
        }
    }
    .add-cart{
        margin-top: 1rem;
    }
    .cek-ongkir{
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding: 5px;
        .text-ongkir{
            color: #a59393;
            font-size: 14px;
            padding: 0px 20px;
        }
        .d-flex{
            .ubah-alamat{
                border-bottom: 1px dashed #000000;
                height: 20px;
                cursor: pointer;
            }
            p{
                padding: 0px 20px;
            }
        }
        .estimasi{
            border: 1px solid #eeeeee;
            border-radius: 10px;
            p{
                padding: 0px 20px;
            }
        }

        .lokasi-ongkir{
            display: none;
            position: absolute;
            width: 80%;
            top: 45%; left: 8%;
        }
    }
    .shop-abs{
        position: absolute;
        width: 90%; height: 100%;
        background-color: #ffffff9a;
        top: 0; left: 3%;
    }
    .shop-title{
        text-align: center;
        position: absolute;
        width: 80%;
        left: 10%;
        top: 15%;

        p{
            text-align: center;
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 30px;
        }
    }
    .shop-card{
        position: absolute;
        top: 40%; left: 25%;
        width: 50%;
        background-color: #071c4d;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
    }
    // about
    .about-abs{
        position: absolute;
        width: 30%;
        height: 100%;
        top: 0;
        right: 0px;
        background-color: #ffffff9a;
        img{
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 5px;
        }
    }
}
.section-cart{
    display: none;
}
.section-work-desain{
    .span-img{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;top: 0;
        background-color: #ffffff9a;
    }
    .card-title{
        h2{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
        }
    }
    .title-design{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 2;top: 0;
        p,ul li{
            font-weight: bold;
        }
    }
    .budgeting{
        position: absolute;
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        top: 50%; left: 25%;
        background-color: #0f2f7a;
        color: #e0e4ec;
        text-align: center;
        p{
            font-family: 'Playfair Display', serif;
            font-weight: bold;

        }
    }
    .furnuter{
        p{
            margin: 0;
            padding-left: 10px;
        }
    }
    .card-foot{
        p{
            margin-top: -40%;
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            color: #000000;
            font-size: 24px;
        }
    }
}

.spin-load{
    position: absolute;
    top: 50%; right: 50%;
}
.profile-pic{
    height: 40px !important;
    width: 40px !important;

}
// login
.log-picture-abs{
    position: absolute;
    top: 10px; left: 25px;
    width: 30px; height: 30px;
    a{
        display: flex;
        img{
            width: 100%; height: 30px;
            border-radius: 30px;
        }
        span{
            padding-left: 10px;
            line-height: 32px;
            font-weight: bold;
            font-size: 18px;
            color: #000000;
        }
    }
}
.sec-login{
    margin-left: -10px;
    .card-login{
        margin: 100px 10px !important;
        height: 60vh;
    }
    .card-regis{
        margin: 100px 10px !important;
        height: 80vh;
    }
    .card-body{
        border-radius: 10px;
        h2, .log-title ,a{
            color: #ffffff;
            font-weight: bold;
        }
    }
    .input-group{
        padding: 5px;
        background-color: #ffffff;
        border-radius: 10px;
    }
    .input-group-text{
        background-color: transparent;
        border: 0px;
    }
    .input-group input{
        border: 0px;
    }
    .log-social{
        padding-top: 10px;
        .fb{
            color: #ffffff;
            padding: 10px 20px;
            i{
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
    .mx-6{
        margin: 0px 6rem;
    }

}
.section-footer{
    margin-bottom: 0px !important;
    a{
        color: #0f2f7a;

    }
}

// jadi punya toko
.punya-toko{
    &:hover{
        .action{
            opacity: 5;
        }
    }
    .action{
        position: absolute;
        top: 50%; left: 22%;
        opacity: 0;
    }
}
@media (min-width: 992px){
    .dropdown-menu .dropdown-toggle:after{
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown-menu .dropdown-menu{
        margin-left:0; margin-right: 0;
    }

    .dropdown-menu li{
        position: relative;
    }
    .nav-item .submenu{
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{
        right:100%; left:auto;
    }

    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{
        display: block;
    }
}
@media (max-width: 575.98px) {
    body{
        overflow-x: hidden !important;
    }
    html{
        width: 100% !important;
    }
    .loop-product .card-body{
        padding: 0px;
            a span{
                font-size: 14px;
            }
    }
    .section-work{
        min-height: 120vh;
        .card{
            height: 100%;
            .row{
                padding: 0px !important;
                img{
                    width: 100%;
                }
                .col-md-5{
                    padding-left: 0px !important;
                }
                .col-md-6{
                    padding-left: 30px !important;
                }
            }
        }
        .add-cart{
            display: none;
        }
    }
    .section-deskripsi{
        margin-top: -100px;
        .container{
            padding: 0px;
        }
    }
    .section-work-desain{
        .container{
            padding: 0px;
        }
        .card .card-body{
            padding: 0px;
            a span{
                font-size: 14px;
            }
        }
    }
    .section-cart{
        display: block;
        position: fixed; left: 0;
        bottom: 0; right: 0; z-index: 9999;
        width: 100%; height: 8vh;
        background-color: #ffffff;
        .btn-cart{
            width: 150px; line-height: 8vh !important;
            text-decoration: none;
            margin-right: 5px;
            padding: 10px 15px;
            background-color: #bb241f;
            border-radius: 2px;
            color: #ffffff;
            font-size: 20px;
        }
        .btn-pesan{
            width: 150px; line-height: 8vh !important;
            text-decoration: none;
            background-color: #1fbb41;
            padding: 10px 55px;
            border-radius: 2px;
            color: #ffffff;
            font-size: 20px;
        }
    }
    .log-picture{
        display: none;
    }
    .sec-login{
        margin-top: -20px;
        padding-right: 0px;
        .mx-6{
            margin: 0px 1rem;
        }
    }
    .container-fluid{
        padding: 0px !important;
    }
    .container{
        padding: 0px !important;
    }
    .chat-mobile{
        display: none;
    }
 }
