body {
  background-color: #eeeeee;
  font-family: 'Assistant', sans-serif;
  overflow-x: hidden;
}

.bg-blue {
  background: #071c4d;
}

.nav-item .text-nav {
  color: #101310 !important;
  font-weight: bold;
}

.nav-item .active {
  color: #0f2f7a !important;
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav-form {
  color: #ffffff;
}

.dropdowns-menu {
  position: absolute;
  top: 67px;
  right: 0;
  width: 250px;
  display: none;
  height: 40vh;
  z-index: 9999;
}

.dropdowns-menu li {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  list-style: none;
}

.dropdowns-menu li a {
  border-bottom: 1px solid #d8cfcf;
  padding-bottom: 10px;
  text-align: center;
}

.dropdowns-menu li a:hover {
  background-color: #d8cfcf;
}

header {
  width: 100%;
  padding: 10px;
}

header img {
  height: 70vh;
}

header .carousel-wrapper {
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}

header .owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
  opacity: 0;
}

header .owl-theme .owl-dots .owl-dot.active span,
header .owl-theme .owl-dots .owl-dot:hover span {
  background: #5110e9;
}

header .owl-carousel .item {
  text-align: center;
}

header .owl-carousel .nav-button {
  height: 50px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 45% !important;
}

header .owl-carousel .owl-prev.disabled,
header .owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}

header .owl-carousel .owl-prev {
  left: 0px;
}

header .owl-carousel .owl-next {
  right: 0px;
}

header .owl-theme .owl-nav [class*=owl-] {
  color: #ffffff;
  font-size: 39px;
  background: #000000;
  border-radius: 3px;
  line-height: 30px;
}

header .owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}

header .owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}

header:hover .owl-carousel .owl-nav {
  opacity: 10;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
}

.whatsup {
  padding: 20px;
  font-size: 50px;
  display: none;
}

.whatsup a {
  text-decoration: none;
  color: #09a02a;
}

.section-service .card .card-judul {
  font-family: 'Playfair Display', serif;
}

.section-service .card .card-judul h2 {
  font-weight: bold;
  font-size: 30px;
}

.section-service .card-body {
  position: relative;
  padding: 0px !important;
}

.section-service .card-body img {
  width: 100% !important;
}

.section-header-work {
  min-height: 310px;
  background: #e0e4ec;
  margin-top: -90px;
}

.section-work {
  margin-top: -210px;
  min-height: 70vh;
}

.section-work .breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-work .breadcrumb-item.active {
  font-weight: bold;
  color: #0f2f7a;
}

.section-work .card-images {
  margin-top: -250px;
  background-color: #f7f5f5e8;
  text-align: center;
}

.section-work .card-images img {
  width: 60%;
}

.section-work .card {
  min-height: 65vh;
}

.section-work .card .recive {
  background-color: lightgreen;
  border-radius: 1rem;
  padding: 10px 15px;
  display: inline-block;
}

.section-work .card .time {
  font-size: 10px;
  color: #9ca1a3;
  margin-top: 5%;
  margin-left: 1%;
}

.section-work .card .sent {
  background-color: whitesmoke;
  border-radius: 1rem;
  padding: 10px 15px;
  display: inline-block;
}

.section-work .add-cart {
  margin-top: 1rem;
}

.section-work .cek-ongkir {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 5px;
}

.section-work .cek-ongkir .text-ongkir {
  color: #a59393;
  font-size: 14px;
  padding: 0px 20px;
}

.section-work .cek-ongkir .d-flex .ubah-alamat {
  border-bottom: 1px dashed #000000;
  height: 20px;
  cursor: pointer;
}

.section-work .cek-ongkir .d-flex p {
  padding: 0px 20px;
}

.section-work .cek-ongkir .estimasi {
  border: 1px solid #eeeeee;
  border-radius: 10px;
}

.section-work .cek-ongkir .estimasi p {
  padding: 0px 20px;
}

.section-work .cek-ongkir .lokasi-ongkir {
  display: none;
  position: absolute;
  width: 80%;
  top: 45%;
  left: 8%;
}

.section-work .shop-abs {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #ffffff9a;
  top: 0;
  left: 3%;
}

.section-work .shop-title {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 15%;
}

.section-work .shop-title p {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 30px;
}

.section-work .shop-card {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  background-color: #071c4d;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.section-work .about-abs {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0px;
  background-color: #ffffff9a;
}

.section-work .about-abs img {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.section-cart {
  display: none;
}

.section-work-desain .span-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff9a;
}

.section-work-desain .card-title h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.section-work-desain .title-design {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 2;
  top: 0;
}

.section-work-desain .title-design p, .section-work-desain .title-design ul li {
  font-weight: bold;
}

.section-work-desain .budgeting {
  position: absolute;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  left: 25%;
  background-color: #0f2f7a;
  color: #e0e4ec;
  text-align: center;
}

.section-work-desain .budgeting p {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.section-work-desain .furnuter p {
  margin: 0;
  padding-left: 10px;
}

.section-work-desain .card-foot p {
  margin-top: -40%;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #000000;
  font-size: 24px;
}

.spin-load {
  position: absolute;
  top: 50%;
  right: 50%;
}

.profile-pic {
  height: 40px !important;
  width: 40px !important;
}

.log-picture-abs {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 30px;
  height: 30px;
}

.log-picture-abs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.log-picture-abs a img {
  width: 100%;
  height: 30px;
  border-radius: 30px;
}

.log-picture-abs a span {
  padding-left: 10px;
  line-height: 32px;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.sec-login {
  margin-left: -10px;
}

.sec-login .card-login {
  margin: 100px 10px !important;
  height: 60vh;
}

.sec-login .card-regis {
  margin: 100px 10px !important;
  height: 80vh;
}

.sec-login .card-body {
  border-radius: 10px;
}

.sec-login .card-body h2, .sec-login .card-body .log-title, .sec-login .card-body a {
  color: #ffffff;
  font-weight: bold;
}

.sec-login .input-group {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}

.sec-login .input-group-text {
  background-color: transparent;
  border: 0px;
}

.sec-login .input-group input {
  border: 0px;
}

.sec-login .log-social {
  padding-top: 10px;
}

.sec-login .log-social .fb {
  color: #ffffff;
  padding: 10px 20px;
}

.sec-login .log-social .fb i {
  font-size: 24px;
  font-weight: bold;
}

.sec-login .mx-6 {
  margin: 0px 6rem;
}

.section-footer {
  margin-bottom: 0px !important;
}

.section-footer a {
  color: #0f2f7a;
}

.punya-toko:hover .action {
  opacity: 5;
}

.punya-toko .action {
  position: absolute;
  top: 50%;
  left: 22%;
  opacity: 0;
}

@media (min-width: 992px) {
  .dropdown-menu .dropdown-toggle:after {
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }
  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

@media (max-width: 575.98px) {
  body {
    overflow-x: hidden !important;
  }
  html {
    width: 100% !important;
  }
  .loop-product .card-body {
    padding: 0px;
  }
  .loop-product .card-body a span {
    font-size: 14px;
  }
  .section-work {
    min-height: 120vh;
  }
  .section-work .card {
    height: 100%;
  }
  .section-work .card .row {
    padding: 0px !important;
  }
  .section-work .card .row img {
    width: 100%;
  }
  .section-work .card .row .col-md-5 {
    padding-left: 0px !important;
  }
  .section-work .card .row .col-md-6 {
    padding-left: 30px !important;
  }
  .section-work .add-cart {
    display: none;
  }
  .section-deskripsi {
    margin-top: -100px;
  }
  .section-deskripsi .container {
    padding: 0px;
  }
  .section-work-desain .container {
    padding: 0px;
  }
  .section-work-desain .card .card-body {
    padding: 0px;
  }
  .section-work-desain .card .card-body a span {
    font-size: 14px;
  }
  .section-cart {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 8vh;
    background-color: #ffffff;
  }
  .section-cart .btn-cart {
    width: 150px;
    line-height: 8vh !important;
    text-decoration: none;
    margin-right: 5px;
    padding: 10px 15px;
    background-color: #bb241f;
    border-radius: 2px;
    color: #ffffff;
    font-size: 20px;
  }
  .section-cart .btn-pesan {
    width: 150px;
    line-height: 8vh !important;
    text-decoration: none;
    background-color: #1fbb41;
    padding: 10px 55px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 20px;
  }
  .log-picture {
    display: none;
  }
  .sec-login {
    margin-top: -20px;
    padding-right: 0px;
  }
  .sec-login .mx-6 {
    margin: 0px 1rem;
  }
  .container-fluid {
    padding: 0px !important;
  }
  .container {
    padding: 0px !important;
  }
  .chat-mobile {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */